body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif !important;
  background-color: rgb(78, 64, 128) !important;
  margin: 0 !important;
  background-image: url('./images/giphy_s.gif') !important;
  /* Full height */
  height: 100% !important;
  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}